
    * {
        font-family: 'Rubik Mono One', sans-serif;
        font-weight: 300;
    }

    .transition-fade {
        transition: 500ms;
        opacity: 1;
        transform: translateX(0);
        transform-origin: left; 
      }
      
      html.is-animating .transition-fade {
        opacity: 1;
        transform: translateX(100%) ;
      }

      html.is-leaving .transition-fade {
          opacity: 0;
      }

    #linkedin:hover{
      opacity: 0.5;
      transform: scale(1.2);
    }

    #instagram:hover{
      opacity: 0.5;
      transform: scale(1.2);
    }

    #twitter:hover{
      opacity: 0.5;
      transform: scale(1.2);
    }

    #github:hover{
      opacity: 0.5;
      transform: scale(1.2);
    }

    #faceHome:hover{
      opacity: 0.5;
      transform: scale(1.2);
    }